@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --neutral-900:#02012C;
    --neutral-800:#262540;
    --neutral-700:#302F4A;
    --neutral-600:#3C3B5E;
    --neutral-300:#ACACB7;
    --neutral-200:#D4D3D9;
    --neutral-0:#FFFFFF;
    --orange:#FF820A;
    --blue-500:#4658D9;
    --blue-700:#2B1B9C;
}



body{
    background-color: var(--neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.dropDownContainer{
    position: relative;
    z-index: 1;
}


.dropDownbtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem;
    background-color: var(--neutral-800);
    color: var(--font-color);
    height: 43px;
    border: none;
    border-radius: 5px;
    color: var(--neutral-0);
    cursor: pointer;
}

.units{
    width: 112px;
}


.options{
    width: 214px;
    height: 412px;
    background-color: var(--neutral-800);
    border-radius:6px;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 0.7rem;
    color: var(--neutral-0);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--neutral-700);
}

.options h4{
    font-size: 0.9rem;
    font-weight: 400;
}

.option_sections{
    width: 100%;
}

.section_container{
    width: 100%;
    height: 115px;
    border-bottom: 1px solid var(--neutral-600);
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.section_container h6{
    color: var(--neutral-300);
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0.1rem 0.1rem;
}


.sections_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 1rem 0.5rem;
    border-radius: 6px;
    background-color: var(--neutral-800);
    border: none;
    color: var(--neutral-0);
    font-size: 1rem;
    cursor: pointer;
}

.appContainer{
    width: 100dvw;
    max-width: 1650px;
    padding: 2rem 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



/* searchbar styles */

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem 0 0 0;
    z-index: 12;
}

.searchBar h1{
    color: var(--neutral-0);
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3.2rem;
    
}

.searchBar input{
    border-radius: 10px;
}

.searchForm{
    position: relative;
    margin: 2rem;
}

.searchFormInput {
    width: 500px;
    height: 50px;
    background-color: var(--neutral-800);
    border: none;
    padding: 0 0 0 3rem;
    color: var(--neutral-0);
    font-size: 1rem;
    margin: 0 1rem 0 0;
    outline: none;
}
.searchFormInput::placeholder{
    color: var(--neutral-200);
}




.submitBtn {
    width: 100px;
    height: 50px;
    background-color: var(--blue-500);
    color: var(--neutral-0);
    border: none;
    font-size: 1rem;
}


.searchIcon{
    position: absolute;
    left: 15px;
    top: 15px;
}


.searchResultContainer{
    width: 500px;
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.1rem 0.5rem;
    z-index: 1;
    
}


.progress{
    width: 500px;
    height: 50px;
    background-color: var(--neutral-700);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.searching{
    position: relative;
    width: 16px;
    height: 19px;
}


.city{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.4rem;
    font-size: 0.7rem !important;
    padding: 0 0.6rem;
    cursor: pointer;
    border-radius: 6px;
}


.city:hover{
    background-color: var(--neutral-700);
}

.searching{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.searching img{
    margin: 0  0.5rem;
    animation: rotation 2s linear infinite;

}


.searching h4{
    font-weight: 300;
}


@keyframes rotation {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



/* weatherbar styles */

.holder{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    z-index: 1;
}


.leftSideInfo{
    width: 800px;
    height: 700px;
}


/* hourley forecast styles */


.hourlyForecast{
    width: 400px;
    height: 700px;
    border-radius: 10px;
    padding: 24px 0 24px 24px;
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    
}

.hourlyForecast p{
    font-size: 1.2rem;
}

.hourlyData{
    overflow-y: scroll;
    width: 100%;
    height: 636px;
    padding: 15px 15px 0 0;
    
}

.hourlyData::-webkit-scrollbar{
    width: 5px;
}

.hourlyData::-webkit-scrollbar-thumb{
    background: var(--neutral-700);
    border-radius: 5px;
}

.hourlyWeatherItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--neutral-700);
    border-radius: 10px;
    padding: 0 1rem;
    width: 100%;
    height: 60px;
    border: 1px solid var(--neutral-600);
    margin-bottom: 1.2rem;
}

.hourlyWeatherItem div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourlyWeatherItem div img{
    width: 50px;
}


/*  */




.daySelector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.daySelector p{
    color: var(--neutral-0);
    font-size: 1.1rem;
}

.days{
    width: 130px;
    height: 37px;
    background-color: var(--neutral-600);
    border-radius: 10px;
    justify-content: space-between;
}

.days p{
    font-size: 1rem;
    margin: 0 10px 0 0;
}

.days_options{
    width: 212px;
    height: 313px;
    background-color: var(--neutral-800);
    border-radius: 10px;
    padding: 0.5rem;
    position: absolute;
    border: 1px solid var(--neutral-600);
    right: 0;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.weekDay{
    width: 100%;
    height: 39px;
    text-align: start;
    border-radius: 6px;
    border: none;
    color: var(--neutral-0);
    background-color: var(--neutral-800);
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5rem;
    cursor: pointer;
}

.weekDay:hover{
    background-color: var(--neutral-700);
}

.selected{
    background-color: var(--neutral-700);
}


.forecast{
    width: 100%;
    height: 286px;
    position: relative;
    background-image: url(../src/assets/background/Desktop\ -\ Hero\ bg.svg) ;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutral-0);
    padding: 0 3rem;
}

.sun_temp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun_temp img{
    position: relative;
    width: 120px;
}

.sun_temp p{
    font-size: 5rem;
    font-weight: 700;
}

.sun_temp p sup{
    font-size: 3rem;
    margin: 0.5rem;
}

.detailedForecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}


.forecastItem{
    width: 182px;
    height: 118px;
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 300;
    border: 1px solid var(--neutral-600);
}

.forecastItem h5{
    font-weight: 200;
    font-size: 1rem;
}

.dailyForecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dailyForecastItem{
    width: 100px;
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid var(--neutral-600);
}


.dailyForecastItem img{
    width: 60px;
}

.dailyForecastItem h1{
    font-size: 1.1rem;
    font-weight: 400;
}

.dailyForecastItem .temp{
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.dailyForecastWrapper .dailyForecastTitle{
    color: var(--neutral-0);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 3.5rem 0 1rem 0;
}